<ul>
  <li *ngFor="let user of users">
    {{user.name}}
    {{user.age}}
  </li>
</ul>

<ul>
  <li *ngFor="let user of users$ | async">
    {{user.payload.val().name}}
    {{user.payload.val().age}}
    <button (click)="onUpdate(user)">Update</button>
  </li>
</ul>

<p>{{ user | json }}</p>

<p>{{ user$ | async | json }}</p>

<ul *ngIf="user$ | async as user">
  <li>{{ user.name }}</li>
  <li>{{ user.age }}</li>
</ul>

<form #f="ngForm" (ngSubmit)="onSubmit(f)">

  <div ngModelGroup="user">

    <div class="form-group">
      <label for="name">Name</label>
      <input required ngModel name="name" type="text" id="name">
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input required ngModel name="age" type="number" id="age">
    </div>
  </div>

  <div class="btn-group">
    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>
  </div>

</form>